body {
		font-size: 2em;
		font-family: 'Roboto Condensed', sans-serif;
		background-color: white;
	}
.rubrik {
		color: blue;
		font-family: 'Libre Barcode 39 Text', cursive;
}

#content {
		margin: 0 auto;
		width: 80%;
		background-color: white;

}

main {
	font-size: 16px;

	margin: 0 auto;
	width: 80%; 
}

h1 {
		color: blue;
}
.topimg {
	float: left;
	margin: 0px;


}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
iFrame{

	border:5px dotted purple;
	float-left;
	margin-left:213px;
}
img{

	float-left;
	margin-left:100px;
}